<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="headline (txt)">
		<div class="container">
			<br>
			<header>
				<h5 class="text-center">
					Welcome
					<span th:if="${player != null}" th:text="${player.name}"></span>
					<br>
					<span th:if="${txt != null}" th:text="${txt}"></span>
				</h5>
			</header>
			<br>
		</div>
	</div>

	<div th:fragment="nav (all)">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light bg-light">
				<a class="navbar-brand p-1 mr-5">OutRun</a>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item navbar-nav p-1" th:if="${all == true}">
						<form th:action="@{/menu}" method="post">
							<input type="hidden" name="name" id="name" th:value="${currentUser.nickname}">
							<input type="submit" class="btn btn-outline-dark" th:value="Menu">
						</form>
					</li>
					<li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
						<form th:action="@{/logout}" method="post">
							<input type="submit" class="btn btn-outline-success" value="Log Out">
						</form>
					</li>
				</ul>

			</nav>
		</div>
		<br>
	</div>



	<div th:fragment="greeting (all)">
		<div class="container">
			<h5>
				Hello <span th:if="${player != null}" th:text="${player.name}">unknown</span>
			</h5>
			<div>What can I do for you?</div>
			<br>
		</div>
	</div>
</body>

</html>